{% extends "base.html" %}
{% block content %}


<table class="table table-striped table-bordered table-condensed">
  <caption>3G路由信息统计</caption>
  <thead>
    <tr>
      <th>device_id</th>
      <th>mac</th>
      <th>state_info</th>
      <th>extro_info</th>
      <th>pub_date</th>
      </tr>
  </thead>
  <tbody>
    {% for router in device_router %}
      <tr>
        <td>{{ router.device_id }}</td>
        <td>{{ router.mac }}</td>
        <td>{{ router.state_info }}</td>
        <td>{{ router.extro_info }}</td>
        <td>{{ router.pub_date }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
