<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>home</title>
        <!-- Latest compiled and minified CSS -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    	<!-- Optional theme -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="/static/blog/css/sticky-footer.css">
        <link rel="stylesheet" href="/static/blog/css/base.css">
        <link rel="stylesheet" href="/static/blog/css/btn-like.css">
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    {# <a class="navbar-brand" href="#">Djanog site</a> #}
                    <a class="navbar-brand" >该站还未完工</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/blog/home">Home</a></li>
                        <li><a href="/device/home">Device</a></li>
                        <li><a href="/blog/about">About</a></li>
                        <li><a href="/blog/contact">Contact</a></li>
                    </ul>

                    <form class="navbar-form form-search form-inline" role="search" method="get" action="/search/">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..." name="q" /> 
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <a class="fork-me" href="https://github.com/kmephistoh/record/tree/master/django_size">
            <img style="position: absolute; top: 0; right: 0; border: 0; z-index:1040;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png " alt="Fork me on GitHub">
        </a>

        <div class="container">
            <div class="starter-content">
            {% block content %}{% endblock %}
            </div>
        </div>

        <div class="footer">
            <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
        </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    </body>
</html>
